<mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <button mat-button>
                <mat-icon>
                    home
                </mat-icon>
                <span class="logo">
                    Material UI
                </span>
            </button>
           <div *ngIf="!devicexs">
            <button mat-button>Home</button>
            <button mat-button>Contact us</button>
            <button mat-button>About us</button>
           </div>
        </div>
        <div>
            <button mat-icon-button>
                <mat-icon *ngIf="devicexs">
                    more_vert
                </mat-icon>
                <span *ngIf="!devicexs">
                 Menu
                </span>
            </button>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="devicexs" fxLayoutAlign="space-between">
        <button mat-button>Home</button>
        <button mat-button>Contact us</button>
        <button mat-button>About us</button>
      </mat-toolbar-row>
</mat-toolbar>
