
img{
    width: 150px;
    height: 100px;
    margin-left: 40px;

}
.mat-icon{
    vertical-align: center;
    margin-right:1rem ;
}
.mat-divider{
    border-top-width: 2px;
    border-color: white;
}
.mat-list-item{
    color:#94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
}
.mat-list-item-content:hover{
    border-radius: 5px;
    margin: 0 8px;
    color:aliceblue;
    
}
.mt-2
{
    color: aliceblue;
}