<mat-nav-list>
    <div class="logo py-4">
        <img src="/assets/logo1.svg">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APLLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="list-item-active">
        <mat-icon>login</mat-icon>
        Login
    </a>
    <a mat-list-item routerLink="/register" routerLinkActive="list-item-active">
        <mat-icon>queue</mat-icon>
        Register
    </a>
    <a mat-list-item routerLink="/form" routerLinkActive="list-item-active">
        <mat-icon>queue</mat-icon>
        Form
    </a>
    <a mat-list-item routerLink="/getset" routerLinkActive="list-item-active">
        <mat-icon>queue</mat-icon>
        GetSetValues
    </a>
    <a mat-list-item routerLink="/formcontrols" routerLinkActive="list-item-active">
        <mat-icon>queue</mat-icon>
        FormControls&Groups
    </a>
    <a mat-list-item routerLink="/dropdown" routerLinkActive="list-item-active">
        <mat-icon>queue</mat-icon>
        CascadingDropDown
    </a>
    <a mat-list-item routerLink="/Expansion" routerLinkActive="list-item-active">
        <mat-icon>queue</mat-icon>
        ExpansionPanel
    </a>
    <a mat-list-item routerLink="/DynamicFC" routerLinkActive="list-item-active">
        <mat-icon>queue</mat-icon>
        Dynamic FormControl
    </a>
    <a mat-list-item routerLink="/NestedFC" routerLinkActive="list-item-active">
        <mat-icon>queue</mat-icon>
        Nested FormControl
    </a>
</mat-nav-list>