.page {
    color: white;
    padding: 0 1rem;
    background:#f1f5f9;
     }

     .page__box {
    min-height: 100px;
    background: #10293b;
    margin: 0 -1rem;
    font-size: 30px;
text-align: center;
padding-top: 20px;

 
    }
    
    .page__content {
    min-height: calc(100vh - 190px);
    border-radius: 10px;
    margin-top: -2rem;
    background:#f7fff7;
    color: black;
    font-size: zrem;
    }
    .page__data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
