<div [formGroup]="address">
    <mat-form-field appearance="fill">
        <mat-label>Area: </mat-label>
        <input matInput formControlName="area" type="text"><br>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Street: </mat-label>
        <input matInput formControlName="street" type="text"><br>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Zip: </mat-label>
        <input matInput formControlName="zip" type="text">
    </mat-form-field>
</div>