<div class="container-fluid page">
    <div class="page__box p-3 mt-1">Register</div>
    <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
    <!-- ----------------------------------- -->
    <div id="center"  fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="example-card"> 
    <form #registerform="ngForm" (ngSubmit)="onSubmit()" [formGroup]="myForm" novalidate class="example-form">
   
        <mat-card-content>
      
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Name" id="Name" formControlName="Name">
            <mat-error *ngIf="myError('Name', 'required')">Name is required</mat-error>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Email" id="Email" formControlName="Email">
            <mat-error *ngIf="myError('Email', 'required')">Email is required</mat-error>
          </mat-form-field>
      
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Password" id="Password" formControlName="Password">
            <mat-error *ngIf="myError('Password', 'required')">Password is required</mat-error>
          </mat-form-field>
        </mat-card-content>
         
<button mat-button (click)="onclick()">Register </button>  

</form> 
</mat-card>
    </div>
    <!-- ----------------------------------= -->
    </div>
    </div>
    </div>
